## Homework 1

In [1]:
import pandas as pd

### Question 1

In [2]:
pd.__version__

'1.4.2'

### Getting the data

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
df = pd.read_csv(url)


df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Question 2

In [17]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [7]:
# Question 2

len(df.columns)

10

### Question 3

In [8]:
# Question 3

df.columns[df.isnull().any()].tolist()

['total_bedrooms']

### Question 4

In [10]:
# Question 4

df['ocean_proximity'].nunique()

### Question 5

In [11]:
# Question 5

df['median_house_value'].mean()

#259212

206855.81690891474

### Question 6

1. Calculate the average of total_bedrooms column in the dataset.

In [12]:
# Question 6 - NO

df['total_bedrooms'].mean()

537.8705525375618

2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.

In [15]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].mean())

3. Now, calculate the average of total_bedrooms again.

In [16]:
df['total_bedrooms'].mean()

537.8705525375639

4. Has it changed?

In [35]:
# NO

### Question 7

1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.

In [33]:
filter = df[df['ocean_proximity'] == 'ISLAND'][['housing_median_age','total_rooms','total_bedrooms']]

In [25]:
filter.head()

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

3. Get the underlying NumPy array. Let's call it X.

In [27]:
x = filter.values

print(x)

[[  27. 1675.  521.]
 [  52. 2359.  591.]
 [  52. 2127.  512.]
 [  52.  996.  264.]
 [  29.  716.  214.]]

4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [28]:
XTX = x.T.dot(x)
print(XTX)

[[9.6820000e+03 3.5105300e+05 9.1357000e+04]
 [3.5105300e+05 1.4399307e+07 3.7720360e+06]
 [9.1357000e+04 3.7720360e+06 9.9835800e+05]]

5. Compute the inverse of XTX.

In [29]:
import numpy as np

In [30]:
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 9.19403586e-04 -3.66412216e-05  5.43072261e-05]
 [-3.66412216e-05  8.23303633e-06 -2.77534485e-05]
 [ 5.43072261e-05 -2.77534485e-05  1.00891325e-04]]

6. Create an array y with values [950, 1300, 800, 1000, 1300].

In [31]:
y = np.array([950, 1300, 800, 1000, 1300])
print(y)

[ 950 1300  800 1000 1300]

7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the value of the last element of w?

In [32]:
w = XTX_inv.dot(x.T).dot(y)
print(w)

[23.12330961 -1.48124183  5.69922946]